#title {
    color: white;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
}

#CardTitle {
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    font-size: 24px;
    /* display: inline-block; */
    vertical-align: top;
}
#CardStyle {
    padding: 2px 20px 0px 20px;
}

#Test {
    padding: 10px 0px 0px 0px;
    text-align: center;    
}

#IMAGE {
    margin: 0 auto;
    text-align: center;    
}
