.story-title {
    color: rgb(230, 230, 250);
    font-family: monospace;
    font-weight: bold;
}

#story-text {
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 1.2vw;
    padding: 0vw 1vw 1vw 1vw;
    line-height: 125%;
    letter-spacing: 0.06vw;
    color: rgb(230, 230, 250);
    font-family: monospace;
}

#story-paragraph-1 {
    margin-top: 3vw;
    height: 18vw;
}

#story-paragraph-2 {
    margin-top: 3vw;
    height: 16vw;
}

#story-paragraph-3 {
    margin-top: 3vw;
    height: 8vw;
}