/* .name {
    color: rgb(230, 230, 250);
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 2vw;
} */

/* .pos {
    color: rgb(230, 230, 250);
    text-align: center;
    font-family: monospace;
    font-size: 0.3 vw;
} */

.label {
    color: rgb(230, 230, 250);
    font-family: monospace;
    font-size: 1.5vw;
    /* height: 3vw; */
}

.story-content {
    color: rgb(230, 230, 250);
    font-family: monospace;
    font-size: 2vw;
    font-weight: bold;
}

.large {
    height: 10vw;
}

/* 
.alerts {
    font-family: monospace;
    line-height: 0.5vw;
} */

.modal {
    line-height: 0.5vw;
    font-size: 1vw;
    margin: 0 auto;
}

.modaltext {
    background-color: rgb(230, 230, 250);
    font-family: monospace;
}