.main {
    /* width: 100vw; */
    margin: 0%;
    padding: 0;
}

#card,
#team,
#roadmap,
#ending {
    background-color: rgb(10, 10, 30);
    /* position: absolute; */
    /* width: 100vw; */
    /* padding: 0%; */
}

#home,
#roadmap,
#contact {
    background-color: rgb(0, 0, 0);
    /* width: 100vw; */
}

.story-title {
    color: rgb(230, 230, 250);
    font-family: 'Noto Sans', monospace;
    font-weight: bold;
}
