#iRIS-bg {
    color: rgb(230, 230, 250);
    position: fixed;
    width: 100%;
    margin-top: 4vw;
    margin-bottom: 4vw;

    font-size: 2.5vw;
    text-align: center;
    text-shadow: 0vw 0vw 0.1vw #dddddd;

    letter-spacing: 0.1vw;
    line-height: 80%;
    font-family: monospace;
    font-weight: bold;
}

.bg-text {
    will-change: animation;
    animation: color-change 2s infinite;
}

.cardWrapper {
    display: flex;
    /* establish flex container */
    flex-direction: row;
    /* default value; can be omitted */
    flex-wrap: nowrap;
    /* default value; can be omitted */
    justify-content: space-between;
    /* switched from default (flex-start, see below) */

    width: 80vw;
    height: 38vw;
    perspective: 60vw;
    margin: 0 auto;
}

.cardContainer {
    will-change: transform, animation;

    width: 22vw;
    height: 30vw;
    -webkit-transition: 0.8s all ease;
    -moz-transition: 0.8s all ease;
    -o-transition: 0.8s all ease;
    transition: 0.8s all ease;
    transform: rotateX(60deg) scale(0.7);

    animation: entry 2s linear 1;
    display: inline-block;
    margin-top: 4.5vw;
    margin-bottom: 1.5vw;
}

.cardContainer:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1) translateY(1vw);
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

#c0 {
    will-change: box-shadow;
    box-shadow: -1vw -1vw 3vw #bbbbbb;
}

#c1 {
    will-change: box-shadow;
    box-shadow: 0.2vw -1vw 3vw #bbbbbb, -0.2vw -1vw 3vw #bbbbbb;
}

#c2 {
    will-change: box-shadow;
    box-shadow: 1vw -1vw 3vw #bbbbbb;
}

#c0:hover {
    transform: rotate(0deg) scale(1) translateY(1vw);
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
    box-shadow: 0.2vw 0.2vw 1vw #dddddd, -0.2vw -0.2vw 1vw #dddddd;
}

#c1:hover {
    transform: rotate(0deg) scale(1) translateY(1vw);
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
    box-shadow: 0.2vw 0.2vw 1vw #dddddd, -0.2vw -0.2vw 1vw #dddddd;
}

#c2:hover {
    transform: rotate(0deg) scale(1) translateY(1vw);
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
    box-shadow: 0.2vw 0.2vw 1vw #dddddd, -0.2vw -0.2vw 1vw #dddddd;
}

.cardImage {
    /* position: absolute; */
    width: 100%;
    height: 45%;
}

.cardCityImage {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2vw;
    display: block;

    width: auto;
    height: 13vw;
}

#i0 {
    background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
}

#i1 {
    background: linear-gradient(to top, #e9b884 30%, #ee8c4f 100%);
}

#i2 {
    background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
}

#s0 {
    background: linear-gradient(to top, #5b62a2 0%, #7b88d1 100%);
}

#s1 {
    background: linear-gradient(to bottom, #e9b884 0%, #ee8c4f 40%);
}

#s2 {
    background: linear-gradient(to top, #5b62a2 0%, #7b88d1 100%);
}

.story {
    /* position: absolute; */
    top: 45%;
    left: 0%;
    height: 55%;
    width: 100%;
}

.card-title {
    padding: 0.5vw 0vw 0vw 0vw;
    font-size: 2vw;
    text-align: center;
    text-shadow: 0vw 0vw 0.08vw #dddddd;
    letter-spacing: 0.1vw;
    color: white;
    font-family: monospace;
    font-weight: bold;
}

.card-text {
    font-size: 1.2vw;
    padding: 0vw 1.2vw 1.2vw 1.2vw;
    line-height: 125%;
    text-align: center;
    letter-spacing: 0.06vw;
    color: rgb(230, 230, 250);
    font-family: monospace;
    font-weight: bold;
}

.fadeOut {
    opacity: 0;
    z-index: -200;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.fadeIn {
    opacity: 0.75;
    z-index: 0;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

@keyframes color-change {
    0% {
        color: rgb(230, 230, 250);
    }

    50% {
        color: rgb(221, 185, 247);
    }

    100% {
        color: rgb(230, 230, 250);
    }
}

@media (max-width: 768px) {
    .cardWrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        perspective: 720vw;

        width: 80vw;
        height: 180vw;

        margin-bottom: 3vw;
    }

    .cardContainer {
        width: 45vw;
        height: 60vw;
        transform: rotateX(45deg) scale(0.9);
    }

    .cardCityImage {
        padding-top: 3vw;

        width: auto;
        height: 20vw;
    }

    .cardImage {
        /* position: absolute; */
        width: 100%;
        height: 34%;
    }

    .card-title {
        padding: 4vw 0vw 0vw 0vw;
        font-size: 4vw;
    }

    .story {
        height: 66%;
    }

    .card-text {
        font-size: 2.8vw;
    }

    #c0 {
        will-change: box-shadow;
        box-shadow: 0.2vw -1vw 3vw #bbbbbb, -0.2vw -1vw 3vw #bbbbbb;
    }

    #c2 {
        will-change: box-shadow;
        box-shadow: 0.2vw -1vw 3vw #bbbbbb, -0.2vw -1vw 3vw #bbbbbb;
    }
}
