#loading {
    background-color: rgb(10, 10, 30);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-text {
    /* will-change: animation; */
    font-family: monospace;
    font-size: 4vw;
    font-weight: bold;
    animation: color-change 2s infinite;
}

.walletconnect-modal__base {
    max-width: 30vw !important;
}

@keyframes color-change {
    0% {
        color: rgba(246, 215, 255);
    }

    50% {
        color: rgba(204, 154, 240, 0.6);
    }

    100% {
        color: rgba(246, 215, 255);
    }
}